*{
    -fx-primary-color: #A3DBFF;
    -fx-secondary-color: #3893FF;
    -fx-font-family: "Fira Code Light";
             -fx-font-weight: BOLD;
             -fx-font-size: 15.0px;
             -fx-text-fill: black;
             -fx-text-alignment:center;


}
.tab {-fx-background-color: -fx-secondary-color;
      -fx-wrap-text:true;
      -fx-padding:0px;

}
.tab:selected{-fx-background-color: transparent;
                -fx-border-color:transparent;
                -fx-border-width:0;
                -fx-wrap-text:true;}
.tab-pane {
    -fx-tab-min-width:132px;
    -fx-tab-max-width:132px;
    -fx-tab-min-height:240px;
    -fx-tab-max-height:240px;
    -fx-background-color: linear-gradient(to bottom,  #00D5FF,#2F6EFF);

}

.tab-pane .tab:selected{-fx-background-color: transparent;}

.tab-header-background {-fx-background-color: transparent;}

.tab:selected .tab-label {  -fx-text-fill: #000;

}
.tab:hover{-fx-background-color:-fx-primary-color;
            -fx-cursor:hand;
}
/* Estilo para rotar solo el texto de un Tab */
.rotate-tab-text .tab-label {
    -fx-rotate: 90deg; /* Ajusta el ángulo de rotación según tus necesidades */
}

.table-view {   -fx-background-color: transparent;
                -fx-padding: 10px;
}

.table-view .cell { -fx-text-fill:BLACK;
                    -fx-text-alignment:CENTER;

}

.table-view .column-header-background .filler {-fx-background-color: transparent;
}

.table-view .corner {-fx-background-color: transparent;}

.table-view .column-header-background{  -fx-background-color: -fx-secondary-color;
                                        -fx-border-color: transparent;
                                        -fx-opacity:0.8;
                                        -fx-background-radius: 10 10 0 0;

}

.table-view .column-header {-fx-background-color: -fx-secondary-color;
                            -fx-background-radius: 10 10 0 0;
                            -fx-border-radius: 10 10 0 0;
}
.table-view .table-cell{-fx-border-color: white;
                        -fx-border-width: 0.4;
                        -fx-padding: 2 0 2 10px;

}
.table-row-cell: hover {-fx-background-color:-fx-primary-color;}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: white;
}

.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: #2fd6ff;
    -fx-opacity:1;
}

.table-row-cell: selected {-fx-background-color: white;}

.table-row-cell: odd{
    -fx-background-color: #77C2E5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-opacity: 0.8;

}

.table-row-cell: even{
    -fx-background-color: #77C2E5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-opacity: 0.7;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -fx-secondary-color;
    -fx-opacity: 0.9;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: -fx-secondary-color ;
    -fx-opacity: 0.9;
    -fx-padding: 2;
}

.table-row-cell: highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
    -fx-text-alignment:CENTER;
}
.button{
    -fx-background-color: -fx-primary-color;
             -fx-text-fill: black;
             -fx-wrap-text:left;
             -fx-font-family: "Fira Code Medium";
             -fx-border-width: 10 10 10 10;
             -fx-background-radius: 10 10 10 10;
             -fx-border-radius: 10 10 10 10;
             -fx-button-pref-height:35px;
             -fx-max-height:40px;
             -fx-cursor: hand;
             -fx-padding: 10px;
}

.button:pressed { -fx-background-color: #2077FF;
}


.button:hover { -fx-background-color: #2FB7FF;

}

.text-input {-fx-text-fill: black;}

.text-field {   -fx-background-color: -fx-primary-color;
                -fx-opacity:0.6;
                -fx-border-color: #FFFFFF;
                -fx-border-width: 1.4;
                -fx-background-radius: 10px;
                -fx-border-radius: 10px;
                -fx-cursor:text;
                -fx-pref-height:40px;
                -fx-max-height:40px;
                -fx-padding: 10px;
}

.date-picker{-fx-background-color: -fx-primary-color;
             -fx-background-radius: 10px; /*primero:superior izquierda -segundo:superior derecha -tercero:inferior derecha -cuarto: inferior izquierda*/
             -fx-border-radius: 10px;
             -fx-date-picker-pref-width:200px;
             -fx-pref-height:40px;

}

.date-picker .text-field {
    -fx-background-color: -fx-secondary-color;
    -fx-opacity:0.6;
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
    -fx-padding: 10px;
}
.date-picker .arrow-button {
    -fx-opacity:1;
	-fx-background-color: -fx-secondary-color;
	-fx-background-radius: 0 10 10 0;
	-fx-border-radius: 0 10 10 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: #2FB7FF;
	-fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-cursor:hand;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: black;
}

.date-picker .selected {
	-fx-background-color: white;
	-fx-text-fill: white;

}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
	-fx-background-radius: 10 0 0 10;
    fx-border-radius: 10 0 0 10;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-secondary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .month-year-pane .button {
	-fx-background-color: -fx-secondary-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
 .dialog-pane{
  -fx-background-color:linear-gradient(to bottom,  #00D5FF,#2F6EFF);
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:transparent;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-text-fill:black;
   -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color:transparent;
}

.dialog-pane:header .header-panel .label{
  -fx-background-radius:10px;
  -fx-text-fill:black;
  -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
   -fx-background-color:-fx-primary-color;
   -fx-text-fill:black;
   -fx-wrap-text: true;
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{
  -fx-background-color:-fx-primary-color;
  -fx-text-fill:black;
 }